__pycache__/
crimson-rs/
dmm-parser/
CrimsonGameMods/build/
CrimsonGameMods/dist/
CrimsonGameMods/testing/
CrimsonSaveEditor/build/
CrimsonSaveEditor/dist/
CrimsonSaveEditor/icons_local/
CrimsonSaveEditor/*.spec.bak
CrimsonSaveEditor/__pycache__/
CrimsonGameMods/__pycache__/
CrimsonGameMods/icons_local/
.venv/
.pytest_cache/
.venv_linux/
.pi/
CrimsonGameMods/_dmm_parser/
.superpowers/

# Claude Code local state
.claude/
